.component1Child,
.log1Icon {
  position: absolute;
  height: 13.47%;
  top: 0;
  bottom: 86.53%;
}
.log1Icon {
  width: 87.22%;
  right: 12.72%;
  left: 0.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component1Child {
  width: 99.95%;
  right: 0;
  left: 0.05%;
  background: linear-gradient(
    180deg,
    rgba(229, 248, 255, 0.3),
    rgba(229, 248, 255, 0.18) 0.01%,
    rgba(38, 173, 226, 0.5)
  );
}
.bangladeshIsA,
.bestPlacesTo {
  position: absolute;
  height: 6.21%;
  width: 44.63%;
  top: 0;
  left: 17.66%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  display: flex;
  align-items: center;
}
.bangladeshIsA {
  height: 17.07%;
  width: 38.64%;
  top: 13.97%;
  left: 41.1%;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-slategray);
}
.coxsBazarChild,
.coxsBazarItem {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.coxsBazarChild {
  height: 85.79%;
  bottom: 14.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.coxsBazarItem {
  height: 100%;
  bottom: 0;
  border-radius: 0 0 var(--br-8xs) var(--br-8xs);
  background-color: var(--color-aliceblue);
}
.tk1 {
  font-size: 22px;
}
.coxsBazar2,
.tk {
  position: absolute;
  width: 15.37%;
  top: 22.22%;
  left: 81.48%;
  font-weight: 500;
  display: inline-block;
}
.coxsBazar2 {
  width: 21.48%;
  left: 3.7%;
}
.coxsBazar1,
.coxsBazarInner {
  position: absolute;
  height: 13.95%;
  width: 100%;
  top: 86.05%;
  right: 0;
  bottom: 0;
  left: 0;
}
.coxsBazarInner {
  height: 93.02%;
  top: -6.98%;
  bottom: 13.95%;
  background: linear-gradient(
    180deg,
    rgba(9, 46, 61, 0.05) 41.11%,
    rgba(9, 46, 61, 0.21)
  );
}
.coxsBazar {
  position: absolute;
  height: 85.81%;
  width: 38.93%;
  top: 13.97%;
  right: 61.07%;
  bottom: 0.22%;
  left: 0;
}
.shyletChild,
.shyletItem {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.shyletChild {
  height: 79.31%;
  top: 0;
  bottom: 20.69%;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.shyletItem {
  height: 20.69%;
  top: 79.31%;
  bottom: 0;
  border-radius: 0 0 var(--br-8xs) var(--br-8xs);
  background-color: var(--color-aliceblue);
}
.shylet1 {
  width: 24.31%;
  top: 83.91%;
  left: 4.71%;
  font-weight: 500;
  display: inline-block;
}
.shylet,
.shylet1,
.tk2 {
  position: absolute;
}
.tk2 {
  width: 28.63%;
  top: 83.91%;
  left: 67.06%;
  font-weight: 500;
  display: inline-block;
}
.shylet {
  height: 57.87%;
  width: 18.39%;
  top: 41.91%;
  right: 40.52%;
  bottom: 0.22%;
  left: 41.1%;
}
.saintMartin1,
.tk3 {
  position: absolute;
  width: 49.02%;
  top: 83.91%;
  left: 5.1%;
  font-weight: 500;
  display: inline-block;
}
.tk3 {
  width: 28.24%;
  left: 67.06%;
}
.image1Icon,
.saintMartin {
  position: absolute;
  height: 57.87%;
  width: 18.39%;
  top: 41.91%;
  right: 19.97%;
  bottom: 0.22%;
  left: 61.64%;
}
.image1Icon {
  height: 79.01%;
  width: 99.62%;
  top: 0;
  right: 0.38%;
  bottom: 20.99%;
  left: 0;
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sundarbanChild {
  position: absolute;
  height: 20.61%;
  width: 100%;
  top: 79.39%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-aliceblue);
}
.sundarban1 {
  width: 47.84%;
  top: 83.97%;
  left: 4.71%;
  font-weight: 500;
  display: inline-block;
}
.sundarban,
.sundarban1,
.tk4 {
  position: absolute;
}
.tk4 {
  width: 28.3%;
  top: 83.97%;
  left: 67.17%;
  font-weight: 500;
  display: inline-block;
}
.sundarban {
  height: 58.09%;
  width: 18.39%;
  top: 41.91%;
  right: 0;
  bottom: 0;
  left: 81.61%;
}
.bestPlacesToVisitInBangla {
  position: absolute;
  height: 11.99%;
  width: 84.01%;
  top: 21.71%;
  right: 6%;
  bottom: 66.3%;
  left: 9.99%;
  font-size: var(--font-size-xl);
}
.travelAgencyBanner {
  position: absolute;
  height: 6.91%;
  width: 67.35%;
  top: 36.41%;
  right: 22.65%;
  bottom: 56.68%;
  left: 9.99%;
  border-radius: var(--br-8xs);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.theWorldIs,
.trendingInternationalDestina {
  position: absolute;
  display: flex;
  align-items: center;
}
.trendingInternationalDestina {
  height: 5.06%;
  width: 44.15%;
  top: 0;
  left: 15.28%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  text-align: left;
}
.theWorldIs {
  height: 7.23%;
  width: 36.47%;
  top: 9.22%;
  left: 19.18%;
  font-weight: 500;
  color: var(--color-slategray);
  justify-content: center;
}
.package1Child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 2px 4px 16px rgba(74, 180, 73, 0.2);
}
.package1Item {
  position: absolute;
  height: 61.1%;
  width: 92.86%;
  top: 3.58%;
  right: 3.43%;
  bottom: 35.32%;
  left: 3.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.dubaiTheCity {
  position: absolute;
  height: 3.58%;
  width: 61.43%;
  top: 68.5%;
  left: 3.71%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-aliceblue);
}
.days {
  position: absolute;
  height: 44.12%;
  width: 83.82%;
  top: 29.41%;
  left: 8.82%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangleParent {
  position: absolute;
  height: 8.11%;
  width: 19.43%;
  top: 66.35%;
  right: 2.57%;
  bottom: 25.54%;
  left: 78%;
}
.startsFrom27500tkContainer {
  position: absolute;
  height: 3.58%;
  width: 50.57%;
  top: 75.89%;
  left: 3.71%;
  display: flex;
  align-items: center;
  color: var(--color-forestgreen-100);
}
.viewDetailsChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-forestgreen-100);
}
.viewDetails1 {
  position: absolute;
  height: 23.91%;
  width: 61.25%;
  top: 39.13%;
  left: 19.37%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.viewDetails {
  position: absolute;
  height: 10.98%;
  width: 45.71%;
  top: 85.2%;
  right: 26.86%;
  bottom: 3.82%;
  left: 27.43%;
  text-align: left;
  color: var(--color-aliceblue);
}
.package1 {
  position: absolute;
  height: 75.77%;
  width: 23.55%;
  top: 24.23%;
  right: 76.45%;
  bottom: 0;
  left: 0;
}
.cinnamonDhonveli {
  position: absolute;
  height: 3.58%;
  width: 57.71%;
  top: 68.5%;
  left: 3.71%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.package2 {
  position: absolute;
  height: 75.77%;
  width: 23.55%;
  top: 24.23%;
  right: 50.87%;
  bottom: 0;
  left: 25.57%;
}
.egyptMysteriesDesert,
.viewDetails5 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.egyptMysteriesDesert {
  height: 3.58%;
  width: 67.14%;
  top: 68.74%;
  left: 3.43%;
  font-size: var(--font-size-xl);
  justify-content: center;
}
.viewDetails5 {
  height: 23.91%;
  width: 61.25%;
  top: 39.13%;
  left: 19.38%;
}
.package3 {
  position: absolute;
  height: 75.77%;
  width: 23.55%;
  top: 24.23%;
  right: 25.3%;
  bottom: 0;
  left: 51.14%;
}
.europeTheDream {
  position: absolute;
  height: 4.53%;
  width: 69.71%;
  top: 68.02%;
  left: 3.71%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.package4,
.trending {
  position: absolute;
  height: 75.77%;
  width: 23.55%;
  top: 24.23%;
  right: 0;
  bottom: 0;
  left: 76.45%;
}
.trending {
  height: 14.7%;
  width: 90.01%;
  top: 46.03%;
  bottom: 39.28%;
  left: 9.99%;
  text-align: center;
}
.arrowIcon,
.arrowIcon1,
.videoIcon1 {
  position: absolute;
  height: 3.48%;
  width: 7.93%;
  top: 38.16%;
  right: 71.35%;
  bottom: 58.36%;
  left: 20.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrowIcon,
.arrowIcon1 {
  height: 0.82%;
  width: 4.6%;
  top: 48.39%;
  right: 22.77%;
  bottom: 50.78%;
  left: 72.62%;
}
.arrowIcon1 {
  top: 25.54%;
  bottom: 73.64%;
}
.ourMission {
  position: absolute;
  height: 5.31%;
  width: 51.46%;
  top: 0;
  left: 24.82%;
  font-size: var(--font-size-17xl);
  font-weight: 600;
  display: flex;
  align-items: center;
}
.v228Wit06Job581Icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.mission,
.providingAdvancedTravel {
  position: absolute;
  display: flex;
  align-items: center;
}
.mission {
  height: 7.14%;
  width: 33.71%;
  top: 9.14%;
  left: 8.86%;
  font-weight: 500;
  justify-content: center;
}
.providingAdvancedTravel {
  height: 26.57%;
  width: 50%;
  top: 36.57%;
  left: 27.14%;
  font-size: var(--font-size-base);
  text-align: left;
}
.v228Wit06Job581Parent {
  position: absolute;
  height: 66.41%;
  width: 45.49%;
  top: 33.59%;
  right: 54.51%;
  bottom: 0;
  left: 0;
  text-align: center;
}
.span {
  color: var(--color-black);
}
.visionTxt {
  line-break: anywhere;
  width: 100%;
}
.vision {
  position: absolute;
  height: 7.14%;
  width: 28.74%;
  top: 8.57%;
  left: 11.26%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.isPartneringWith {
  color: var(--color-darkslategray);
}
.ghurtonicomIsPartneringContainer {
  position: absolute;
  height: 26.57%;
  width: 51.86%;
  top: 36.57%;
  left: 27.56%;
  font-size: var(--font-size-base);
  display: flex;
  align-items: center;
  color: var(--color-forestgreen-100);
}
.v228Wit06Job581Group {
  position: absolute;
  height: 66.41%;
  width: 43.86%;
  top: 33.59%;
  right: 0;
  bottom: 0;
  left: 56.14%;
}
.servingOurCustomer {
  position: absolute;
  height: 10.82%;
  width: 74.73%;
  top: 9.87%;
  left: 13.13%;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-slategray);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourMissionVision {
  position: absolute;
  height: 14%;
  width: 46.61%;
  top: 63.38%;
  right: 33.28%;
  bottom: 22.61%;
  left: 20.11%;
  font-size: var(--font-size-11xl);
}
.flyingFromChild,
.ticketChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ticketChild {
  border-radius: var(--br-23xl);
  background: linear-gradient(
    180deg,
    rgba(229, 248, 255, 0.33),
    rgba(229, 248, 255, 0.33)
  );
  box-shadow: 0 2px 12px rgba(25, 171, 227, 0.3);
}
.flyingFromChild {
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.cityOrAirport,
.flyingFrom1 {
  position: absolute;
  height: 32.31%;
  width: 29.74%;
  top: 50.77%;
  left: 2.88%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flyingFrom1 {
  height: 16.92%;
  width: 23.74%;
  top: 23.08%;
  left: 4.56%;
  font-weight: 500;
  color: var(--color-darkslategray);
}
.flyingFrom {
  position: absolute;
  height: 14.16%;
  width: 37.83%;
  top: 37.25%;
  right: 52.13%;
  bottom: 48.58%;
  left: 10.05%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  color: var(--color-slategray);
}
.departToChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.departTo1,
.mar2023 {
  left: 8.25%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mar2023 {
  position: absolute;
  height: 28.38%;
  width: 47.57%;
  top: 50%;
  color: var(--color-slategray);
}
.departTo1 {
  height: 24.32%;
  width: 38.35%;
  top: 14.86%;
}
.departTo,
.departTo1,
.sun {
  position: absolute;
}
.sun {
  width: 15.05%;
  top: 8.11%;
  left: 80.1%;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.departTo {
  height: 16.12%;
  width: 18.91%;
  top: 56.64%;
  right: 71.04%;
  bottom: 27.23%;
  left: 10.05%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}
.returnToChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.mar20231,
.returnTo1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mar20231 {
  position: absolute;
  height: 28.38%;
  width: 47.85%;
  top: 50%;
  left: 6.22%;
  color: var(--color-slategray);
}
.returnTo1 {
  height: 24.32%;
  width: 39.23%;
  top: 13.51%;
  left: 8.13%;
  font-weight: 500;
}
.returnTo,
.returnTo1,
.sun1 {
  position: absolute;
}
.sun1 {
  width: 15.05%;
  top: 8.11%;
  left: 80.65%;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.returnTo {
  height: 16.12%;
  width: 18.91%;
  top: 56.64%;
  right: 52.13%;
  bottom: 27.23%;
  left: 28.96%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
}
.cityOrAirport1,
.flyingTo1 {
  position: absolute;
  height: 32.31%;
  width: 31.58%;
  top: 50.77%;
  left: 2.15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flyingTo1 {
  height: 18.46%;
  width: 18.66%;
  top: 21.54%;
  left: 5.02%;
  font-weight: 500;
  color: var(--color-darkslategray);
}
.flyingTo {
  position: absolute;
  height: 14.16%;
  width: 37.83%;
  top: 37.25%;
  right: 10.59%;
  bottom: 48.58%;
  left: 51.58%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  color: var(--color-slategray);
}
.economyClass {
  position: absolute;
  width: 29.6%;
  top: 10.81%;
  left: 61%;
  font-weight: 500;
  display: inline-block;
}
.passengersCabin,
.person {
  position: absolute;
  display: flex;
  align-items: center;
}
.person {
  height: 28.38%;
  width: 18.18%;
  top: 50%;
  left: 4.78%;
  color: var(--color-slategray);
  text-align: center;
  justify-content: center;
}
.passengersCabin {
  height: 24.32%;
  width: 50.72%;
  top: 14.86%;
  left: 4.55%;
  font-weight: 500;
}
.passengersCabinClass {
  position: absolute;
  height: 16.12%;
  width: 37.83%;
  top: 56.64%;
  right: 10.5%;
  bottom: 27.23%;
  left: 51.67%;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
  text-align: left;
}
.flightWaysChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(25, 171, 227, 0.3);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.multiCity,
.oneWay,
.roundTrip {
  position: absolute;
  height: 51.06%;
  width: 15.91%;
  top: 25%;
  left: 3.87%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.multiCity,
.roundTrip {
  width: 18.71%;
  left: 39.14%;
}
.multiCity {
  width: 16.13%;
  left: 77.2%;
}
.flightWaysItem {
  position: absolute;
  height: 7.5%;
  width: 19.89%;
  top: 89.87%;
  right: 41.88%;
  bottom: 2.63%;
  left: 38.23%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flightWays {
  position: absolute;
  height: 8.71%;
  width: 42.08%;
  top: 23.31%;
  right: 28.96%;
  bottom: 67.97%;
  left: 28.96%;
  text-align: left;
}
.searchChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-deepskyblue-100);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.searchFlights {
  position: absolute;
  height: 43.4%;
  width: 54.24%;
  top: 28.3%;
  left: 22.88%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  position: absolute;
  height: 11.55%;
  width: 21.36%;
  top: 80.61%;
  right: 38.91%;
  bottom: 7.84%;
  left: 39.73%;
  font-size: 18px;
  color: var(--color-white);
}
.editChild,
.ticket {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.ticket {
  height: 100%;
  bottom: 0;
  font-size: var(--font-size-base);
}
.editChild {
  height: 18.74%;
  bottom: 81.26%;
  border-radius: var(--br-23xl) var(--br-23xl) 0 0;
  background-color: var(--color-white);
}
.hajjUmrah {
  position: absolute;
  height: 66.74%;
  width: 73.37%;
  top: 17.3%;
  left: 26.63%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hajjIcon {
  position: absolute;
  height: 100%;
  width: 21.74%;
  top: 0;
  right: 78.26%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupChild1,
.hajjUmrahParent {
  position: absolute;
  height: 8.81%;
  width: 16.65%;
  top: 5.01%;
  right: 80.45%;
  bottom: 86.17%;
  left: 2.9%;
}
.groupChild1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-aliceblue);
  border: 1px solid var(--color-forestgreen-100);
  box-sizing: border-box;
}
.flight {
  position: absolute;
  height: 71.19%;
  width: 51.4%;
  top: 15.25%;
  left: 48.6%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.planeIcon {
  position: absolute;
  height: 100%;
  width: 37.38%;
  top: 0;
  right: 62.62%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.flightParent {
  position: absolute;
  height: 45.74%;
  width: 70.86%;
  top: 26.74%;
  right: 14.57%;
  bottom: 27.52%;
  left: 14.57%;
}
.rectangleParent1 {
  position: absolute;
  height: 18.74%;
  width: 13.67%;
  top: 0;
  right: 64.07%;
  bottom: 81.26%;
  left: 22.26%;
}
.busIcon,
.buses {
  position: absolute;
}
.buses {
  width: 55.05%;
  top: 10.38%;
  left: 44.95%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.busIcon {
  height: 100%;
  width: 36.7%;
  top: 0;
  right: 63.3%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.busesParent {
  position: absolute;
  height: 8.39%;
  width: 9.86%;
  top: 5.23%;
  right: 16.02%;
  bottom: 86.38%;
  left: 74.12%;
}
.trains {
  position: absolute;
  width: 55.86%;
  top: 0;
  left: 44.14%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trainIcon {
  position: absolute;
  height: 63.13%;
  width: 36.04%;
  top: 20%;
  right: 63.96%;
  bottom: 16.87%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.trainsParent {
  position: absolute;
  height: 6.54%;
  width: 10.05%;
  top: 6.1%;
  right: 3.26%;
  bottom: 87.36%;
  left: 86.7%;
}
.hotel {
  position: absolute;
  width: 52.53%;
  top: 12.5%;
  left: 47.47%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hotelIcon {
  height: 100%;
  width: 40.4%;
  top: 0;
  right: 59.6%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.hotelIcon,
.hotels,
.visa1 {
  position: absolute;
}
.hotels {
  height: 8.71%;
  width: 8.96%;
  top: 5.01%;
  right: 52.4%;
  bottom: 86.27%;
  left: 38.64%;
}
.visa1 {
  width: 48.51%;
  top: 15.82%;
  left: 51.49%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.travelPassportAndTicketAdvIcon {
  position: absolute;
  height: 100%;
  width: 44.55%;
  top: 0;
  right: 55.45%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.4;
}
.groupIcon,
.visa {
  position: absolute;
  height: 9.64%;
  width: 9.14%;
  top: 4.58%;
  right: 40.54%;
  bottom: 85.78%;
  left: 50.32%;
}
.groupIcon {
  height: 100%;
  width: 34.31%;
  top: 0;
  right: 65.69%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.tours {
  position: absolute;
  height: 64.75%;
  width: 58.82%;
  top: 16.79%;
  left: 41.18%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.groupParent {
  position: absolute;
  height: 9.08%;
  width: 9.23%;
  top: 4.79%;
  right: 28.6%;
  bottom: 86.12%;
  left: 62.17%;
}
.edit,
.welcomeToGhuronti {
  position: absolute;
  text-align: center;
}
.edit {
  height: 12.2%;
  width: 73.08%;
  top: 6.56%;
  right: 16.92%;
  bottom: 81.24%;
  left: 9.99%;
  font-size: var(--font-size-xl);
}
.welcomeToGhuronti {
  height: 0.58%;
  width: 57.48%;
  top: 5.13%;
  left: 14.05%;
  font-size: 32px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.component1Item {
  position: absolute;
  height: 0.64%;
  width: 2.06%;
  top: 4.49%;
  right: 61.78%;
  bottom: 94.87%;
  left: 36.16%;
  background-color: #d9d9d9;
}
.vectorIcon {
  position: absolute;
  height: 0.21%;
  width: 0.73%;
  top: 13.95%;
  right: 30.83%;
  bottom: 85.84%;
  left: 68.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.customerChild {
  position: absolute;
  height: 62.47%;
  width: 99.82%;
  top: 37.53%;
  right: 0;
  bottom: 0;
  left: 0.18%;
  border-radius: var(--br-8xs);
  background-color: var(--color-aliceblue);
}
.customerSatisfactionIs {
  position: absolute;
  height: 7.67%;
  width: 66.01%;
  top: 0;
  left: 18.71%;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
}
.ourClientsPraise,
.yourThoughtfulnessAnd {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ourClientsPraise {
  height: 10.68%;
  width: 48.74%;
  top: 14.25%;
  left: 26.98%;
  font-size: var(--font-size-base);
  font-weight: 500;
  color: var(--color-slategray);
}
.yourThoughtfulnessAnd {
  height: 28.49%;
  width: 65.83%;
  top: 54.52%;
  left: 18.79%;
  font-size: var(--font-size-xl);
}
.commentMessageQuotationQuotIcon,
.iconChevronCircleLeftAlt,
.iconChevronCircleLeftAlt1 {
  position: absolute;
  height: 56.99%;
  width: 18.71%;
  top: 14.25%;
  right: 81.29%;
  bottom: 28.77%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.iconChevronCircleLeftAlt,
.iconChevronCircleLeftAlt1 {
  height: 9.32%;
  width: 3.15%;
  top: 64.66%;
  right: 96.85%;
  bottom: 26.03%;
}
.iconChevronCircleLeftAlt1 {
  right: 0;
  left: 96.85%;
}
.customer {
  position: absolute;
  height: 9.7%;
  width: 67.35%;
  top: 80.04%;
  right: 22.65%;
  bottom: 10.26%;
  left: 9.99%;
  text-align: center;
  font-size: var(--font-size-17xl);
}
.whatsappIcon {
  position: absolute;
  height: 1.89%;
  width: 4.3%;
  top: 16.34%;
  right: 24.62%;
  bottom: 81.77%;
  left: 71.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.footerChild {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #26ade2;
}
.bdOfficeAddress,
.xxxxxxxx {
  position: absolute;
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.bdOfficeAddress {
  height: 14.11%;
  width: 83%;
  left: 0;
  font-size: var(--font-size-xl);
}
.xxxxxxxx {
  height: 100%;
  width: 84.44%;
  left: 15.56%;
  line-height: 26px;
}
.vectorIcon1 {
  position: absolute;
  height: 76.67%;
  width: 9.59%;
  top: 0;
  right: 90.76%;
  bottom: 23.33%;
  left: -0.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bdNumber {
  position: absolute;
  height: 14.11%;
  width: 64.84%;
  top: 28.83%;
  right: 35.16%;
  bottom: 57.06%;
  left: 0;
}
.xxxxxxxx1 {
  position: absolute;
  height: 100%;
  width: 85.2%;
  top: 0;
  left: 14.8%;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vectorIcon2 {
  position: absolute;
  height: 76.67%;
  width: 9.68%;
  top: 0;
  right: 90.68%;
  bottom: 23.33%;
  left: -0.35%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bdNumber1 {
  position: absolute;
  height: 14.11%;
  width: 64.27%;
  top: 49.08%;
  right: 35.73%;
  bottom: 36.81%;
  left: 0;
}
.dhakaTowerL {
  position: absolute;
  height: 100%;
  width: 89.91%;
  top: 0;
  left: 10.09%;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.pointerMapLocationPlaceMulIcon {
  position: absolute;
  height: 52.94%;
  width: 7.78%;
  top: 0;
  right: 92.22%;
  bottom: 47.06%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.bdAdd,
.bdAdd1 {
  position: absolute;
  height: 31.29%;
  width: 100%;
  top: 68.71%;
  right: 0;
  bottom: 0;
  left: 0;
}
.bdAdd {
  height: 55.25%;
  width: 24.1%;
  top: 22.37%;
  right: 67.22%;
  bottom: 22.37%;
  left: 8.68%;
}
.earthGlobalGlobeInternetNeIcon {
  position: absolute;
  height: 100%;
  width: 11%;
  top: 0;
  right: 89%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.wwwxyzcom {
  position: absolute;
  height: 86.36%;
  width: 80%;
  top: 0;
  left: 20%;
  line-height: 26px;
  display: flex;
  align-items: center;
}
.groupIcon1,
.websiteLink {
  position: absolute;
  height: 16.85%;
  width: 92.17%;
  top: 83.15%;
  right: 6.91%;
  bottom: 0;
  left: 0.92%;
}
.groupIcon1 {
  height: 86.46%;
  width: 9.26%;
  top: 13.33%;
  right: 90.74%;
  bottom: 0.21%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.xyzgmailcom {
  position: absolute;
  height: 100%;
  width: 81.02%;
  top: 0;
  left: 18.98%;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.gmail1 {
  position: absolute;
  height: 11.49%;
  width: 99.54%;
  top: 62.82%;
  right: 0;
  bottom: 25.69%;
  left: 0.46%;
}
.socialMedia1 {
  position: absolute;
  height: 21.45%;
  width: 91.71%;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vectorIcon3 {
  position: absolute;
  height: 17.92%;
  width: 11.52%;
  top: 36.01%;
  right: 88.02%;
  bottom: 46.07%;
  left: 0.46%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.callChatMobileWhatsappWhatIcon,
.cameraInstagramSocialMediaIcon,
.socialMediaImoIcon11,
.tweetTwitterTwitterLogoIcoIcon {
  position: absolute;
  height: 19.15%;
  width: 11.52%;
  top: 35.24%;
  right: 70.05%;
  bottom: 45.61%;
  left: 18.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.callChatMobileWhatsappWhatIcon,
.cameraInstagramSocialMediaIcon,
.socialMediaImoIcon11 {
  top: 33.71%;
  right: 52.07%;
  bottom: 47.14%;
  left: 36.41%;
}
.callChatMobileWhatsappWhatIcon,
.cameraInstagramSocialMediaIcon {
  top: 35.24%;
  right: 32.26%;
  bottom: 45.61%;
  left: 56.22%;
}
.cameraInstagramSocialMediaIcon {
  right: 14.29%;
  left: 74.19%;
}
.socialMedia {
  position: absolute;
  height: 44.25%;
  width: 15.07%;
  top: 22.37%;
  right: 26.25%;
  bottom: 33.38%;
  left: 58.68%;
}
.usaAddressXxx,
.usaOfficeAddress {
  position: absolute;
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.usaOfficeAddress {
  height: 17.72%;
  width: 91.69%;
  left: 0;
  font-size: var(--font-size-xl);
}
.usaAddressXxx {
  height: 100%;
  width: 88.82%;
  left: 11.18%;
  line-height: 26px;
}
.pointerMapLocationPlaceMulIcon1 {
  position: absolute;
  height: 65.85%;
  width: 8.63%;
  top: 0;
  right: 91.37%;
  bottom: 34.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.usaBd,
.usaNumber {
  position: absolute;
  height: 25.95%;
  width: 100%;
  top: 74.05%;
  right: 0;
  bottom: 0;
  left: 0;
}
.usaNumber {
  height: 14.56%;
  width: 71.88%;
  top: 31.01%;
  right: 28.12%;
  bottom: 54.43%;
}
.xxxxxxusa1 {
  position: absolute;
  height: 100%;
  width: 82.61%;
  top: 0;
  left: 17.39%;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.vectorIcon5 {
  position: absolute;
  height: 76.67%;
  width: 9.38%;
  top: 0;
  right: 90.96%;
  bottom: 23.33%;
  left: -0.34%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.usaAdd,
.usaNumber1 {
  position: absolute;
  height: 14.56%;
  width: 73.48%;
  top: 51.9%;
  right: 26.52%;
  bottom: 33.54%;
  left: 0;
}
.usaAdd {
  height: 53.56%;
  width: 21.74%;
  top: 22.37%;
  right: 43.4%;
  bottom: 24.07%;
  left: 34.86%;
}
.gmail2,
.termsCondition {
  position: absolute;
  width: 100%;
  left: 0;
}
.termsCondition {
  height: 100%;
  top: 0;
  line-height: 26px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.gmail2 {
  height: 13.39%;
  top: 86.61%;
  right: 0;
  bottom: 0;
}
.privacyPolicy {
  height: 13.39%;
  width: 74.83%;
  top: 63.39%;
  left: 1.32%;
  line-height: 26px;
}
.faq,
.help,
.privacyPolicy {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.faq {
  height: 13.39%;
  width: 21.85%;
  top: 40.18%;
  left: 1.32%;
  line-height: 26px;
}
.help {
  height: 25%;
  width: 33.77%;
  top: 0;
  left: 0;
  font-size: var(--font-size-xl);
}
.footer,
.gmail2Parent {
  position: absolute;
  height: 37.97%;
  width: 10.49%;
  top: 22.37%;
  right: 8.75%;
  bottom: 39.66%;
  left: 80.76%;
}
.footer {
  height: 7.84%;
  width: 100%;
  top: 92.16%;
  right: 0;
  bottom: 0;
  left: 0;
  color: var(--color-white);
}
.groupChild2,
.headerChild,
.signInChild {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.headerChild {
  height: 42.31%;
  bottom: 57.69%;
  background-color: #e9f6e9;
}
.groupChild2,
.signInChild {
  height: 100%;
  bottom: 0;
}
.groupChild2 {
  background-color: var(--color-aliceblue);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}
.signInChild {
  border-radius: var(--br-8xs);
  background-color: var(--color-deepskyblue-100);
}
.signUp {
  width: 68.63%;
  top: 23.91%;
  left: 15.69%;
  font-weight: 500;
  display: inline-block;
}
.logIn1,
.signIn,
.signUp {
  position: absolute;
}
.signIn {
  height: 51.11%;
  width: 7.08%;
  top: 24.44%;
  right: 11.46%;
  bottom: 24.44%;
  left: 81.46%;
}
.logIn1 {
  width: 54.9%;
  top: 23.91%;
  left: 22.55%;
  font-weight: 500;
  display: inline-block;
}
.aboutUs,
.logIn {
  position: absolute;
  height: 51.11%;
  width: 7.08%;
  top: 24.44%;
  right: 19.31%;
  bottom: 24.44%;
  left: 73.61%;
}
.aboutUs {
  height: 13.33%;
  width: 6.46%;
  top: 43.33%;
  right: 66.74%;
  bottom: 43.33%;
  left: 26.81%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.header1 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.contractUs,
.header1,
.headerWrapper {
  position: absolute;
  width: 100%;
  left: 0;
}
.headerWrapper {
  height: 57.69%;
  top: 42.31%;
  right: 0;
  bottom: 0;
}
.contractUs {
  height: 100%;
  top: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutUs2 {
  position: absolute;
  height: 42.25%;
  width: 34.65%;
  top: 33.8%;
  right: 0;
  bottom: 23.95%;
  left: 65.35%;
}
.xxxXxx {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 600;
  display: inline-block;
}
.ipCall,
.vectorIcon6 {
  position: absolute;
  height: 88.02%;
  width: 86.83%;
  top: 9.15%;
  right: 0;
  bottom: 2.83%;
  left: 13.17%;
}
.vectorIcon6 {
  height: 107.04%;
  width: 12.96%;
  top: -3.52%;
  right: 87.42%;
  bottom: -3.52%;
  left: -0.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.aboutUsParent,
.ipCallParent {
  position: absolute;
  height: 100%;
  width: 57.75%;
  top: 0;
  right: 42.25%;
  bottom: 0;
  left: 0;
  text-align: left;
  font-size: var(--font-size-base);
}
.aboutUsParent {
  height: 18.21%;
  width: 24.65%;
  top: 11.15%;
  right: 37.64%;
  bottom: 70.64%;
  left: 37.71%;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-darkslategray);
}
.searchFlightHotel {
  position: absolute;
  height: 27.91%;
  width: 45.73%;
  top: 39.53%;
  left: 8.55%;
  display: flex;
  align-items: center;
}
.searchInner {
  position: absolute;
  height: 90.7%;
  width: 16.86%;
  top: 4.65%;
  right: 0;
  bottom: 4.65%;
  left: 83.14%;
  border-radius: 0 var(--br-8xs) var(--br-8xs) 0;
  background-color: rgba(74, 180, 73, 0.12);
}
.searchStrongIcon1 {
  position: absolute;
  height: 75.37%;
  width: 8.08%;
  top: 16.28%;
  right: 4.16%;
  bottom: 8.35%;
  left: 87.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search1 {
  position: absolute;
  height: 27.56%;
  width: 30.07%;
  top: 57.05%;
  right: 28.54%;
  bottom: 15.38%;
  left: 41.39%;
  color: rgba(96, 100, 107, 0.5);
}
.header {
  position: absolute;
  height: 4.15%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 95.85%;
  left: 0;
  color: var(--color-white);
}
.softypy7E1676313736622PrevUIcon {
  position: absolute;
  height: 1.49%;
  width: 9.63%;
  top: 2.18%;
  right: 80.31%;
  bottom: 96.33%;
  left: 10.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1826px;
  height: 3763px;
}
.flightPage {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3763px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-poppins);
}
